body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
/*Navbar section*/
.navbar{
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    color: darkgreen;
}

.navbar ul{
    margin: 0;
    padding: 0;
}
.navbar__logo{
    border-bottom: solid 5px darkgreen;
    letter-spacing: 3px;
    font-weight: bold;
}

.navbar__items, .navbar__login{
    display: flex;
}
.navbar__items{
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar__items a{
    text-decoration: none;
    text-emphasis: none;
    color: darkgreen;
    
}
.navbar__items a:visited{
    text-decoration: none;
    text-emphasis: none;
    color: darkgreen;
}
.navbar__items li{
    margin: 0 20px;
}
.navbar li{
    list-style: none;
}

/*header*/

.hero{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: lightgray;
    height: Calc(100vh);
}

.hero__container{
    grid-column-start: 2;
    display: grid;
    grid-template-columns: repeat(2,550px);
    justify-content: center;
    flex-direction: column;
}
.hero__info{
    display: flex;
    flex-direction: column;
    max-height: 300px;
    background-color:rgba(128, 166, 173, 1);
    color:#405357;
    padding: 60px;
}
.hero__info--title{
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 25px;
}
.hero__info--subtitle{
    color:white;
    font-size: 25px;
    letter-spacing: 2px;
    border-bottom: solid 2px #405357;
    width: fit-content;
}

.hero__carrousel--image img{
    object-fit: cover;
    height: 420px;
    width: 550px;  
}
/*----- Rigth box -------*/

