body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
/*Navbar section*/
.navbar{
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    color: darkgreen;
}

.navbar ul{
    margin: 0;
    padding: 0;
}
.navbar__logo{
    border-bottom: solid 5px darkgreen;
    letter-spacing: 3px;
    font-weight: bold;
}

.navbar__items, .navbar__login{
    display: flex;
}
.navbar__items{
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar__items a{
    text-decoration: none;
    text-emphasis: none;
    color: darkgreen;
    
}
.navbar__items a:visited{
    text-decoration: none;
    text-emphasis: none;
    color: darkgreen;
}
.navbar__items li{
    margin: 0 20px;
}
.navbar li{
    list-style: none;
}

/*header*/

.hero{
    display: grid;
    background-color:#F4EAE7;
    height: auto
}

.hero__container{
    display: grid;
    grid-template-columns: repeat(2,600px);
    justify-content: center;
    flex-direction: column;
}
.hero__info{
    display: flex;
    flex-direction: column;
    max-height: 300px;
    background-color:rgba(128, 166, 173, 1);
    color:#405357;
    padding: 60px;
}
.hero__info--title{
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 25px;
}
.hero__info--subtitle{
    color:white;
    font-size: 25px;
    letter-spacing: 2px;
    border-bottom: solid 2px #405357;
    width: fit-content;
}

.hero__carrousel--image img{
    object-fit: cover;
    height: 420px;
    width: 550px;  
}
/*----- Rigth box -------*/

.content{
    display: grid;
    background-color: #F4EAE7;
    height: auto
}

.rightbox, .leftbox{
    display: grid;
    grid-template-columns: repeat(3,400px);
    justify-content: center;
    flex-direction: column;

}

.rightbox__full img
{
    object-fit: cover;
    padding: 10px 0px;
    width: 370px;
    height: 750px;
}

.rightbox__two
{
    display: flex;
    flex-direction: column;
    height: auto;
}


.rightbox__two img
{
    object-fit: cover;
    padding: 10px;
    width: 365px;
    height: 365px;

}

.rightbox__title
{
    width: 345px;
    height: 150px;
    background-color:rgba(128, 166, 173, 1);
    display: flex;
    flex-direction: column;
}


.rightbox__title--item img
{
    margin: 10px 0px;
    width: 345px;
    height: 580px;
    object-fit: cover;
}

.rigthbox__title h1
{
    margin:0;
    background-color:rgba(128, 166, 173, 1);
    width: 345px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    margin: 10px 0px;
}

/*  */



.leftbox__full img
{
    object-fit: cover;
    padding: 10px 10px;
    width: 365px;
    height: 750px;
}

.leftbox__two
{
    display: flex;
    flex-direction: column;
    height: auto;
}


.leftbox__two img
{
    object-fit: cover;
    padding: 10px 0px;
    width: 345px;
    height: 365px;

}



.leftbox__title--item img
{
    margin: 10px 0px;
    width: 365px;
    height: 580px;
    object-fit: cover;
}

.leftbox__title h1
{
    margin:0;
    background-color:rgba(128, 166, 173, 1);
    width: 370px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    margin: 10px 0px;
}
/****FOOTER****/

footer {
    margin: 0;
    height: 200px;
    display: flex;
    flex-direction: column;
}

footer .content{
    padding:50px;
    background-color:rgba(128, 166, 173, 1);
    display: grid;
    grid-template-columns: repeat(2,500px);
    justify-content: center;
    color: white;
}
footer p{
    margin:0;
}
.content_subscription{
    display: flex;
    flex-direction: column;
}
.content_subscription--box{
    box-shadow: none;
    background: transparent;
    border: 1px solid white;
    color:white;
    height: 30px;
    
}
.content__subscription--botton{
    height: 30px;
    margin: 10px 0px;
    box-shadow: none;
    background-color:rgba(64, 83, 87, 1);
    border: none;
    color: white;
}
::placeholder {
    margin: 0px 20px;
    color: white;
}
footer .createdby{
    padding: 20px;
    display: flex;
   background-color:rgba(64, 83, 87, 1);
   justify-content: center;
   align-content: center;
   color:white;
}