include Configurations/config.pug
doctype html
head
    meta(charset="UTF-8")
    link(rel="stylesheet",href='css/style.css')
html
    include Components/navbar.pug
    include Components/hero.pug
    section.content
        main.contenido
            +rigthBox("decor/decor.jpg","decor/decor1.jpg","decor/decor4.jpg","decor/decor3.jpg","decor")