footer
    .content
        .content__contact 
            p Contact us 
            p 1800-000-000 
            p info@website.com
        .content_subscription 
            p Join our mailing list
            input.content_subscription--box(placeholder = "Enter your mail") 
            button.content__subscription--botton Subscribe now
    .createdby
        p @2020 created by codelikeamexican