section.hero
    .hero__container
        .hero__info
            span.hero__info--title modern design meets cozy comport
            span.hero__info--subtitle Create the perfect space
        .hero__carrousel
            .hero__carrousel--image
                img(src="./Images/gallery_1.jpg")
