header
    .navbar
        a.navbar__logo
            li INDOOR
        ul.navbar__items
            each navbaritem in navbaritems
                a(href="#"+navbaritem) 
                    li=navbaritem
        a.navbar__login
            li Log in
